asgiref
attrs
autobahn
Automat
cffi
channels
channels-redis
constantly
cryptography
daphne
Django
hyperlink
idna
incremental
msgpack
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
redis
service-identity
setuptools
six
sqlparse
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
zope.interface
